<%- include("partials/header") %>
<title>Quiz App: Home</title>
</head>
<body>
    <%- include("partials/simple-header") %>
   <div class="container d-flex flex-column align-items-center justify-content-center col text-center" style="min-height: 100vh;">
    <h1 class="fs-1 my-3">Welcome to the Quiz App</h1>
    <div class="container d-flex align-items-center justify-content-center my-3">
        <a href="/start-quiz" class="text-decoration-none  btn btn-dark fs-2 col-4 mx-3 d-flex justify-content-center align-items-center" style="min-height: 10vh;">Start Quiz</a>
        <a href="/create-quiz" class="text-decoration-none  btn btn-dark fs-2 col-4 mx-3 d-flex align-items-center justify-content-center" style="min-height: 10vh;">Create Quiz</a>
    </div>
   </div>
</body>
</html>